[Unit]
Description=Startup service
After=network-online.service

[Service]
ExecStart=node /var/www/html/server.js
User=root

[Install]
WantedBy=multi-user.target
